services:
  clickhouse:
    image: 'clickhouse/clickhouse-server:${CLICKHOUSE_VERSION-25.12-alpine}'
    container_name: 'fivetran-destination-clickhouse-server'
    environment:
      CLICKHOUSE_SKIP_USER_SETUP: 1
    ports:
      - '8123:8123'
      - '9000:9000'
      - '9004:9004'
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - './.docker/clickhouse/config.xml:/etc/clickhouse-server/config.xml'
      - './.docker/clickhouse/users.xml:/etc/clickhouse-server/users.xml'
